{* 
 * Sablona pre výpis editácie ACL
 *
 * Modul: ADMIN
 *
 * Posledna zmena(last change): 20.04.2023
 * @copyright  Copyright (c) 2012 - 2023 Ing. Peter VOJTECH ml.
 * @license
 * @link       http://petak23.echo-msz.eu
 *
*}
{block content}
<div class="row">
  <div class="col-12">
    <h2>Editácia ACL</h2>
  </div>
  <div class="col-12">
    {control userAclEdit}
  </div>
</div>