{layout '../@layoutEmpty.latte'}

{block content}
<div class="form-signin">

  <h1 n:block=title class="mb-3 text-center"><i class="fas fa-unlock-alt"></i> {_'forgot_pass'}</h1>
  
  <blockquote class="alert alert-warning text-center">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {_'forgot_pass_txt'}
  </blockquote>
  {control forgottenPasswordForm}

</div>