{layout '../@layoutEmpty.latte'}
{block title}{_'SignInForm_h2'}{/block}

{block content}
<div class="row align-items-center justify-content-center">
  <div class="col-10 col-md-8 col-lg-6 p-2 sign-in-form" style="background-color: rgba(200,200,200,.5);">
    {control signIn}
  </div>
</div>